@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 32, 53);
  overflow-x: hidden;
}

.s_b_c_m {
  background-color: rgb(6, 17, 33);
}

